.page_header1{
  color:black;
  font-size:24;
  font-family:monospace;
  font-weight:bold;
}
.page_header2{
  color:black;
  font-size:20;
  font-family:monospace;
  font-weight:bold;
}
.page_header3{
  color:black;
  font-size:16;
  font-family:monospace;
  font-weight:bold;
}
.page_header4{
  color:black;
  font-size:12;
  font-family:monospace;
  font-weight:bold;
}
.page_header5{
  color:black;
  font-size:8;
  font-family:monospace;
  font-weight:bold;
}
