

html{
	height:100%;
}
body {
	background-image: url(2014128144337.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

h1{
	font-size:48px;
	font-family: verdana;
	color: white;
    position:relative;   
    top:150px;
    left:500px;
  }
   
  
